<div class="border rounded mb-3">
<p>
  <b>
    <h3>Hallo!</h3>
  </b>
</p>
<p>
  Ich denke, dass es falsch ist,
  Fleisch, Eier und Milchprodukte zu konsumieren.
</p>
<p>
  <b>Denkst du das auch?</b>
</p>
</div>
<div class="row">
    <div class="col-6">
      <button type="button mb-2" class="btn btn-light btn-lg btn-block border">Ja</button>
    </div>
    <div class="col-6">
      <button type="button mb-2" class="btn btn-light btn-lg btn-block border">Nein</button>
    </div>
</div>
