<div class="container">
  <h3>Unpublished Events</h3>
  <% Event.unpublished.each do |event| %>
    <%= link_to event.title, event_path(event) %><br />
  <% end %>
  <h3>Newsletters</h3>
  <% Newsletter.all.each do |newsletter| %>
    <%= newsletter.email %><br />
  <% end %>

  <h3>Suggested Options</h3>
  <% Option.suggested.each do |option| %>
    <%= link_to option.content, edit_option_path(option) %> - <%= option.email %><br />
  <% end %>
</div>
