<% if chatter == "vegan" %>

  <div class="chat-section-field message-loader">
    <div class="row">
        <div class="col-11 d-flex align-items-end">
          <%= image_tag "duckduckportrait.png", class: "rounded-circle bg-white mr-3", height: "40" %>

          <div class="chat-argument-field">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
          </div>
        </div>
    </div>
  </div>

<% else %>

<div class="chat-section-field message-loader">
  <div class="row">

      <div class="offset-1 col-11 d-flex align-items-end justify-content-end">
          <div class="chat-option-field chat-argument-field">
            <div class="lds-ellipsis" style="background: blue !important;"><div></div><div></div><div></div><div></div></div>
          </div>
      </div>
  </div>
</div>
<% end %>
