<div class="container">
  <div class="jumbotron bg-white my-4">
    <div class="text-center">

      <h1 class="my-4">Übersicht</h1>
    </div>
    <% if is_current_user_admin? %>
      <div class="text-center">
        <%= link_to 'Neuer Eintrag', new_slide_path, class: "btn btn-primary my-2" %>
      </div><hr />
    <% end %>
    <%= render partial: "slides/card", collection: @slides, as: :slide %>
  </div>
</div>
