<div style="overflow-x: hidden;">
  <div class="chat-top">

  </div>
</div>

  <div class="text-center">
    <%= image_tag "compass.jpg", class: "rounded-circle border-info chat-top-image mt-n5", height: "100" %>
  </div>
