<div class="fluid-container chat-bg">
<div style="overflow-x: hidden;">
  <div class="chat-top">

  </div>
</div>

  <div class="text-center">
    <%= image_tag "portrait-icon-5.jpg", class: "rounded-circle border-white chat-top-image mt-n6", height: "125" %>
  </div>

  <div class="container">
    <div class="chat-argument-field">
        <h1>Hallo!</h1>
        <p>
          Ich möchte dir ein Video zeigen und dir eine Frage stellen.
        </p>
        <p>
          <strong>
            Ist das okay?
          </strong>
        </p>
    </div>
  </div>


</div>
