<div class="debate-argument">
  <h1>Hallo! Ich bin Sandro!</h1>
  <p>
    Ich denke, dass es falsch ist,
    tierische Produkte wie Fleisch, Eier oder Milchprodukte zu konsumieren.
  </p>
  <p>
    <b>Denkst du das auch?</b>
  </p>
</div>

<div class="debate-answer-options">
  <div class="row">
      <div class="col-6">
        <%= link_to "Ja", debate_a_vegan_load_slide_path("start"), remote: true, method: :post, class: "debate-button" %>
      </div>
      <div class="col-6">
          <%= link_to "Nein", debate_a_vegan_load_slide_path("start"), remote: true, method: :post, class: "debate-button" %>
      </div>
  </div>
</div>
