<%= link_to option.content, debate_a_vegan_load_slide_path(option.target_slide), remote: true, method: :post, class: "debate-button" %>
<% if is_current_user_admin? %>
  <div class="text-center m-2">
    <hr />
    <%= link_to 'Eintrag bearbeiten', edit_option_path(option), class: "btn btn-primary m-2" %>
    <%= link_to 'Eintrag löschen', option_path(option), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
  </div>
<% end %>
