<div class="card bg-light b-color rounded-0">
  <div class="card-body b-color text-center">
    <p class="text-center">
      <div class="info-card-icon text-center">
            <%= inline_svg_tag "icon_beratung_sz.svg", class: '' %>
        </div>
    </p>
    <h4 class="spaced-letters text-a-color">
      <strong>
        <%= "Beratung".upcase %>
      </strong>
    </h4>
    <p>
      <% link_to_page = Page.where(slug: "beratung").first %>
      <% if link_to_page.present? %>
        <%= link_to page_path(link_to_page) do %>
          <button type="button" class="mt-3 btn btn-e-color btn-sm spaced-letters text-nowrap rounded-0">MEHR ERFAHREN <%= fa_icon "chevron-right", class: "ml-2" %></button>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
