<div class="container-fluid f-color pt-5">
  <div class="container">
    <h5 class="spaced-letters text-white mb-4"><%= "Texte & Argumente".upcase %></h5>

    <div class="card-deck">
      <%= render "shared/info_card1" %>
      <%= render "shared/info_card2" %>
      <%= render "shared/info_card3" %>
      <%#= render "static_pages/internship_info_card" %>
      <%#= render "static_pages/work_info_card" %>
    </div>
  </div>
</div>
