
    <div class="row">
      <% events.each do |event| %>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
          <%= render 'events/card', event: event %>
        </div>
      <% end %>
    </div>
