.debate_left_to_right {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#grad {
  background-color: green;
}

.blacky {
  background-color: black;
}

.grad-white-black {
  background-color: green;
}

.chat-top {
  background: transparent linear-gradient(180deg, #29B69D 0%, #15A3AC 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
