<!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content darker-chat-bg-color">
      <div class="modal-header">
        <h5 class="modal-title axiforma text-white" id="exampleModalLabel">Chat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= link_to "Neu anfangen", vegan_chat_reset_chat_path, class: "btn btn-light axiforma no-underline btn-lg btn-block" %>
        <br />
        <%= link_to "Um was geht es hier?", root_path, class: "btn btn-light axiforma no-underline btn-lg btn-block" %>
        <br />
        <%= mail_to "s.raess@me.com", "Ich möchte mit dir sprechen", class: "btn btn-light axiforma no-underline btn-lg btn-block" %>
      </div>
    </div>
  </div>
</div>
