<main role="main" class="">
  <div class="fluid-container chat-bg mb-3">

    <div style="overflow-x: hidden;">
      <div class="chat-top">

      </div>
    </div>

    <div class="text-center">
      <%= image_tag "portrait_veganer.png", class: "bg-white rounded-circle border-white chat-top-image mt-n6", height: "125" %>
    </div>

    <div class="container">

      <div id="chat-field">
        <div class="chat-argument-field axiforma chat-section-field animate__animated animate__bounceIn text-center">
            <h1>Hallo!</h1>
            <p>
              Ich möchte dir ein Video zeigen <br /> und dir eine Frage stellen.
            </p>
            <p class="bigger">
                Ist das okay?
            </p>
        </div>

        <%= link_to vegan_chat_get_video_path(Message.where(starting_point: "yes").sample.id), method: :post, remote: true, class: "no-underline" do %>
          <div class="chat-option-field chat-section-field animate__animated animate__bounceIn animate__delay-1s text-center axiforma">
              <p class="bigger">
                Ja, zeig mir das Video
              </p>
          </div>
        <% end %>
      </div>




      <%#= link_to option.content, debate_a_vegan_load_slide_path(option), remote: true, method: :post, class: "debate-button" %>

    </div>

  </div>
</main>

<footer class="footer">
  <div class="container">
    <div class="float-right my-3 menu-button">
      <button type="button" class="btn btn-light" style="border-radius:100%;" data-toggle="modal" data-target="#statusModal">
        <div class="m-2">
          <%= fa_icon "bars 2x", class: "text-info" %>
        </div>
      </button>
    </div>
  </div>
</footer>

<%= render 'vegan_chat/menu' %>
