//console.log("load slide");
var field_id_name = "#chat-field";

  $(field_id_name).append(
    `
    <div class="chat-video-field">
        <p>
          <div class="embed-responsive embed-responsive-16by9 rounded martigny" style="text-align: justify;"><iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="<%= @url %>" frameborder="0" allowfullscreen=""></iframe></div>
        </p>
    </div>
    `
  );

  $('html, body').animate({
      scrollTop: $('.martigny:first').offset().top
  }, 1000);

  setTimeout(
  function()
  {
    VEGANCHAT.get_message_with_ajax(<%= @target_message.id %>)

  }, 1000);
