<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

<style>

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
		cursor: pointer;
	}


	.node text {
    font: 18px;
    font-weight: bold;
  }

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 1px;
	}

</style>

<div id="diagram">

</div>

<script>
var treeData = [<%= raw @message.to_node2(0).to_json %>];

// ************** Generate the tree diagram	 *****************
var margin = {top: 100, right: 120, bottom: 20, left: 120},
	width = 2000 - margin.right - margin.left,
	height = 2000 - margin.top - margin.bottom;

var i = 0;

var tree = d3.layout.tree()
	.size([height, width]);

var diagonal = d3.svg.diagonal()
	.projection(function(d) { return [d.x, d.y]; });

  var line = d3.svg.line()
      .x(function(d) {
          return d.x; // because tree is horizontal
      })
      .y(function(d) {
          return d.y; // because tree is horizontal
      });

var svg = d3.select("#diagram").append("svg")
	.attr("width", width + margin.right + margin.left)
	.attr("height", height + margin.top + margin.bottom)
  .append("g")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

root = treeData[0];

update(root);

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
	  links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) {
      //d.y = d.depth * 100;
      //d.x = d.x / 1;
      d.y = d.depth * 100;
                });

  // Declare the nodes…
  var node = svg.selectAll("g.node")
	  .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter the nodes.
  var nodeEnter = node.enter().append("g")
	  .attr("class", "node")
	  .attr("transform", function(d) {
		  return "translate(" + d.x + "," + d.y + ")"; });

  nodeEnter.append("circle")
	  .attr("r", 10)
		.attr("class", "click-circle")
		.attr("id_of_message", function(d) { return d.id_of_message})
	  .style("fill", "#fff");

  nodeEnter.append("text")
	  .attr("y", function(d) {
		  return d.children || d._children ? -35 : 35; })
	  .attr("dy", ".35em")
	  .attr("text-anchor", "middle")
	  .text(function(d) { return d.name; })
	  .style("fill-opacity", 1);

  // Declare the links…
  var link = svg.selectAll("path.link")
	  .data(links, function(d) { return d.target.id; });

  // Enter the links.
  link.enter().insert("path", "g")
	  .attr("class", "link")
    .attr("d", function(d) {
                return line([d.source, d.target]);
            });
	  //.attr("d", diagonal);

}

  //click function

  function edit_message(d,i) {
		alert("hey!");
  }

	$( ".click-circle" ).click(function() {
	 var id_of_message = $( this ).attr( 'id_of_message' );
	 window.location.href = window.location.origin + "/vegan_chat/overview/" + id_of_message;
	});

	$(".click-circle").hover(function(){
	  $(this).css("fill", "yellow");
	  }, function(){
	  $(this).css("fill", "white");
	});

	//scrollTop: $("#diagram").offset().top + $("#diagram").height() / 2;
	$( "#diagram" ).scrollLeft( 300 );

</script>
