<div class="container-fluid a-color py-5">
  <div class="container">
    <h5 class="spaced-letters text-white mb-4"><%= "Die neuesten Artikel".upcase %></h5>
      <%= render "posts/cards_in_group_of_3", posts: Post.last(3) %>
  </div>
</div>
