<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
<h2>My Map</h2>
<div id="map" class="map" style="height: 500px; width: 100%"></div>
<script type="text/javascript">
  var attribution = new ol.control.Attribution({
      collapsible: false
  });

  var map = new ol.Map({
      controls: ol.control.defaults({attribution: false}).extend([attribution]),
      layers: [
          new ol.layer.Tile({
              source: new ol.source.OSM({
                  url: 'https://tile.openstreetmap.be/osmbe/{z}/{x}/{y}.png',
                  attributions: [ ol.source.OSM.ATTRIBUTION, 'Tiles courtesy of <a href="https://geo6.be/">GEO-6</a>' ],
                  maxZoom: 18
              })
          })
      ],
      target: 'map',
      view: new ol.View({
          center: ol.proj.fromLonLat([4.35247, 50.84673]),
          maxZoom: 18,
          zoom: 12
      })
  });

  var layer = new ol.layer.Vector({
      source: new ol.source.Vector({
          features: [
              new ol.Feature({
                  geometry: new ol.geom.Point(ol.proj.fromLonLat([4.35247, 50.84673]))
              })
          ]
      })
  });
  map.addLayer(layer);


</script>
