<h2>My Map</h2>

<div id="map" style="height: 500px; width: 100%" class="map">
    <div id="popup" class="ol-popup">
       <a href="#" id="popup-closer" class="ol-popup-closer"></a>
       <div id="popup-content"></div>
   </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <script type="text/javascript">

      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([37.41, 8.82]),
          zoom: 4
        })
      });

      var iconFeature = new ol.Feature({
        geometry: new ol.geom.Point([8.22, 46.81]),
        name: 'Null Island',
        population: 4000,
        rainfall: 500
      });

      var iconStyle = new ol.style.Style({
        image: new ol.style.Icon({
          anchor: [0.5, 46],
          anchorXUnits: 'fraction',
          anchorYUnits: 'pixels',
          src: "https://picsum.photos/id/237/20/30"
        })
      });

      var layer = new ol.layer.Vector({
          source: new ol.source.Vector({
              features: [
                  new ol.Feature({
                      geometry: new ol.geom.Point(ol.proj.fromLonLat([4.35247, 50.84673]))
                  })
              ]
          })
      });
      map.addLayer(layer);

      var container = document.getElementById('popup');
      var content = document.getElementById('popup-content');
      var closer = document.getElementById('popup-closer');

      var overlay = new ol.Overlay({
          element: container,
          autoPan: true,
          autoPanAnimation: {
              duration: 250
          }
      });
      map.addOverlay(overlay);

      closer.onclick = function() {
          overlay.setPosition(undefined);
          closer.blur();
          return false;
      };

      map.on('singleclick', function (event) {
          if (map.hasFeatureAtPixel(event.pixel) === true) {
              var coordinate = event.coordinate;

              content.innerHTML = '<b>Hello world!</b><br />I am a popup.';
              overlay.setPosition(coordinate);
          } else {
              overlay.setPosition(undefined);
              closer.blur();
          }
      });
    </script>
